{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virat Kohli</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
</head>
<body>
    <center>
        <u><h1>This is Virat Kohli</h1></u>
        <h4>Virat Kohli  born in 5 November 1988 is an Indian international cricketer and the former captain of the Indian national cricket team. He currently represents Royal Challengers Bangalore in the IPL and Delhi in domestic cricket. Kohli is widely regarded as one of the greatest batsmen in the history of the sport.[3] He is the highest run scorer in T20I and IPL. In 2020, the International Cricket Council named him the male cricketer of the decade. Kohli is currently fourth-highest run-scorer in international cricket and stands second in the list of most international centuries scored. He also holds the record for scoring the most centuries in One Day International cricket.[4][5] Kohli was a member of the Indian team that won the 2011 Cricket World Cup and 2013 ICC Champions Trophy.</h4>
        <img src="{% static 'images/kohli.jpg' %}" alt="Not found">
    </center>
</body>
</html>